table {
   border: solid 1px #DDDDDD;	
   border-collapse: collapse;
   font-family: 'Arial';
   margin: 0 auto;
   
}

.thead-table-row, .tbody-table-row {
   border-bottom: solid 1px #DDDDDD;
}

.border-division{
   border-bottom: 2px solid #CCCCCC;
}

.thead-table-row :nth-child(n+2){ /*Selecionando os elementos filhos seguidos apartir do elemento 2*/
   font-size: 13px;
   color: #999999;
   font-weight: bold;
   text-align: center;
}

.tbody-table-row :nth-child(2) {
   font-size: 14px;
   color: #666666;
   text-align: left;
   font-weight: bold;
}

.tbody-table-row :nth-child(3) {
   font-size: 14px;
   color: black;
   font-weight: bold;
   text-align: center;
}
.tbody-table-row :nth-child(n+4) {
   font-size: 14px;
   color: #666666;
   text-align: center;
}

.tbody-table-row :nth-child(n+3):nth-child(-n+10){
   width: 7%;
}

.tbody-table-row :nth-child(2n + 3) { 
   background-color: #F7F7F7;
}
.num-classificacao {
   font-size: 18px;
   font-weight: bold;
   text-align: center;
   width: 7%;

}

.num-classificacao-azul-celeste {
   color: #1398BE;
}

.num-classificacao-azul-marinho {
   color: #003366;
}

.num-classificacao-azul-laranja {
   color: #DE9800;
}

.num-classificacao-azul-cinza {
   color: #CCCCCC;
}
.num-classificacao-azul-vermelho {
   color: #C91B04;
}

.tfoot-table-row {
   font-size: 10px
}
.tfoot-table-row-ul {
   color: #8F8F8F;
   padding: 0;
   list-style: none;
   font-weight: lighter;
   margin: 10px 10px 2px;
}
.tfoot-table-row-ul li {
   display: inline;
   text-align: left;
}


#quadradro-legenda-taça_lib{
   display: inline-block; 
   background-color: #003366;
   width: 10px;
   height: 10px;
   margin: 5px 5px 0px 0px;
}

#quadradro-legenda-pré_lib {
   display: inline-block; 
   background-color: #1398BE;
   width: 10px;
   height: 10px;
   margin: 5px 5px 0 5px;
}

#quadradro-legenda-sul_ame {
   display: inline-block; 
   background-color: #DE9800;
   width: 10px;
   height: 10px;
   margin: 5px 5px 0 5px;
}

#quadradro-legendare-rebaix {
   display: inline-block; 
   background-color: #C91B04;
   width: 10px;
   height: 10px;
   margin: 5px 5px 0 5px;
}

#ul-legendas {
   color: #555555;
   margin: 3px 10px 10px;
}

#ul-legendas :nth-child(odd) {
   font-weight: bold;
}






