body {
    font-family: arial;
    margin: 0;
    padding: 0;
}

/* Nav Bar */
.ImagemFia {
    width: 300px;
}

nav {
    justify-content: space-between;
    display: flex;
    align-items: center;
    background-color: #F5000C;
    height: 150px;
}

.TituloMenu {
    text-align: center;
    font-size: 45px;
    color: white;
}

/* fim nav bar */


/* tabela geral */

.pts-final-title, .etapas-class-title {
    text-align: center;
    font-size: 2em;
}

.cassificacao-final-container {
    width: 100%;
}

.class-final-table, .geral-equipes-table {
    border: 1px solid black;
    border-collapse: collapse;
}

.class-final-table {
    width: 85%;
    margin: 50px auto;
    border-collapse: collapse;
}

.class-final-row:nth-child(even) {
    background-color: whitesmoke;
}

#num-colum {
   width: 5%;
}

.num {
    font-size: 1.3em;
    text-align: center;
}


.piloto {
    text-align: center;
    font-size: 1.2em;
}

#nacio-colum {
    font-size: 1.5em;
    width: 35%;
}

.nacionalidade {
    text-align: center;
}

#ptc-total {
    font-size: 1.5em;
    width: 15%;
}

.pts {
    text-align: center;
    font-size: 1.5em;
}


.class-final-title, .geral-equipes-title {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    height: 1.5em;
}


/* Fim tabela geral */

/* Tabela etapas por piloto */
.etapas-container, .etapas-equipes-container, .other-tables-container {
    width: 85%;
    margin: 70px auto;
}


.etapas-table, .etapas-equipes-table, #pts-sistem-table, #pilotos-eq-table {
    border: 1px solid black;
    display: table;
    margin: 0 auto;
    border-collapse: collapse;
}

.etapas-table-title, .etapas-equipe-title {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    height: 1.5em;
}


.etapas-title {
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
}


.etapas-table-row:nth-child(odd) {
    background-color: whitesmoke;
}

.etapas-table-row{
    text-align: center;
    height: 30px;

}

#etapa-australia, #etapa-eq-australia {
    float: right;
    width: 31%;
}

#etapa-arabia, #etapa-eq-arabia {
    width: 31%;
}

#etapa-bahrein, #etapa-eq-bahrein {
    float: left;
    width: 31%;

}

/*Final etapa por piloto*/

/* Geral por equipe */
.geral-equipes-conteiner {
    margin: 50px auto;
    width: 85%;
}

#eq-class-colum, #eq-pts-colum {
    width: 20%;
}

.geral-equipes-row:nth-child(even) {
    background-color: whitesmoke;
}

.geral-equipes-row {
    text-align: center;
    font-size: 1.3em;
}

.td-logo-equipes {
    width: 30%;
}
.logo-equipes {
    width: 30%;
}

/*Final geral por equipe*/

/*Etapas por equipe*/
.td-logo-equipes-etapas {
    text-align: center;
    width: 30%;
}

.logo-equipes-etapas {
    width: 80%;
}

.etapas-eq-row:nth-child(odd) {
    background-color: whitesmoke;
}

.etapas-eq-row{
    text-align: center;
}

#pos-colum {
    width: 30%;
}

#pts-colum {
    width: 30%;
}

/*Final Etapas por equipe*/

/* Outras tabelas */

#pts-sistem-table, #pilotos-eq-table {
    width: 80%;
    margin: 70px auto;
    text-align: center;
}

.pts-sistem-title-row {
    font-weight: bold;
    
}

.pts-sistem-title {
    font-weight: bold;
    font-size: 1.5em;
    height: 1.5em;
}

.pts-sistem-row:nth-child(odd) {
    background-color: whitesmoke;
}

.piloto-eq-title-table-row {
    font-weight: bold;
    font-size: 1.2em;
    height: 1.5em;
}

.piloto-eq-table-row:nth-child(even) {
    background-color: whitesmoke;
}

.piloto-eq-table-row {
    height: 1.5em;
}


